header{
    height: 40px;
    background-color: brown;
    margin: 20px 0;
    text-align: left;
    overflow: hidden;
    color: white;
}

header > div{
    height: 100%;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}
header > div.yes:hover{
    background-color: rgb(112, 15, 15);
}
aside, main, footer{
    margin: 0 20px;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    margin: 0;
}

aside > div.line > div.first{
    vertical-align: top;
    font-weight: bold;
    width: 70px;
    display: inline-block;
    
}
aside > div.line > div.second{
    display: inline-block;
    width: calc(100% - 75px);
    height: auto;
}

aside > div.line{
    margin-bottom: 6px;
}

div.aside_main{
    display: block;
    text-align: left;
}
aside{
    padding: 2%;
    min-height: 400px;
    background-color: rgb(202, 198, 198);
    width: 250px;
    display: block;
    margin: 0;
    box-sizing: border-box;
    float: right;
    overflow: hidden;
}

aside > img{
    height: auto;
    width: 100%;
}
main {
    padding: 10px;
    min-height: 400px;
    width: calc(100% - 255px);
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-sizing: border-box;
    text-align: justify;
}

footer{
    min-height: 200px;
}

footer {
    padding: 10px;
    box-sizing: border-box;
}

footer > div > h3{
    margin-top: 0;
}

footer > div > div {
    width: 150px;
    display: inline-block;
    margin-right: 10px;
}

footer > div > div > img{
    height: auto;
    width: 100%;
}
footer > div > div > h3{
    text-align: center;
}
footer > div.foot{
    padding: 10px;
    border: 1px solid black;
}