body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 10%;
}

nav span {
  padding: 10px 7px;
  text-decoration: none;
}

nav div {
  padding-top: 15px;
  padding-right: 10px;
}

nav div span.buttons {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  margin: 0 30px 0 30px;
}

nav div.icon {
  background-image: url(ToDoIt_Logo_Horizontal_Color_Black.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 52px;
  width: 140px;
  padding: 0 !important;
}




div.first_box {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(5, 151, 242, 0.39));
  height: 100vh;
  width: 99vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}
div.to_center {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 900px;justify-content: center;
  align-items: center;
  text-align: center;
}

div.to_center > h2{
  color: #0597f2;
}

div.first_box div.to_center div.in_to_center span.white {
  color: white;
  font-size: 72px;
  line-height: 85px;
  text-transform: uppercase;
}
div.first_box div.to_center div.in_to_center div.list ul {
  color: white;
  padding-right: 60px;
}
div.first_box div.to_center div.in_to_center div.list ul li {
  display: block;
  font-size: 24px;
  font-weight: 400;
}
div.first_box div.to_center div.in_to_center span.orange {
  color: orange;
  font-size: 72px;
  line-height: 85px;
  text-transform: uppercase;
}
div.first_box div.to_center div.in_to_center div.but_last {
  background-color: #FFB800;
  padding: 0 24px 0 24px;
  line-height: 60px;
  min-width: 216px;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  box-sizing: border-box;
  vertical-align: top;
  cursor: pointer;
  margin-top: 11px;
  margin-left: 30px;
}
div.first_box div.blur_line {
  height: 283px;
  width: 99vw;
  background-color: rgba(255, 255, 0, 0.226);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
div.first_box div.blur_line div.for_height {
  display: flex;
}
div.first_box div.blur_line div.for_height div {
  margin: 0 0px 0 20px;
  padding-right: 20px;
  border-right: 1px solid rgba(128, 128, 128, 0.14);
  width: 185px;
  text-align: center;
}
div.first_box div.blur_line div.for_height div:last-child {
  border: none;
}
div.first_box div.blur_line div.for_height span.orange_big {
  font-size: 40px;
  font-weight: 700;
  color: #FFB800;
  line-height: 48px;
}
div.first_box div.blur_line div.for_height p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
}

div.our_case {
  background-color: rgb(2, 0, 19);
  color: white;
  display: flex;
  justify-content: center;
}
div.our_case div {
  width: 70%;
}
div.our_case div h2 {
  margin-top: 0;
}
div.our_case div div {
  width: 47%;
}
div.our_case div div p {
  width: 150px;
  display: inline-block;
}
div.our_case div div img {
  display: inline-block;
}

div.footer {
  background-color: rgb(2, 0, 19);
  min-height: 300px;
  width: 99vw;
  display: flex;
  color: white;
  justify-content: center;
}
div.footer div.text {
  width: 400px;
  padding: 15px 0;
  padding: 10px 20px;
}
div.footer div.second {
  display: flex;
  flex-direction: column;
}
div.footer div.second span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
div.footer div.third span.orange {
  color: #FFB800;
  font-size: 16px;
  font-weight: 900;
  line-height: 19.5px;
}
div.footer div.third img {
  margin-right: 7px;
}
div.footer div.third div {
  margin-bottom: 20px;
}
div.footer div.third span {
  display: block;
  line-height: 20px;
}
div.footer div.third h2 {
  margin-bottom: 30px;
}
div.footer div.first .p {
  height: 44%;
}
div.footer div.icon {
  background-image: url(Group\ 39.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 48px;
  width: 100px;
  margin-top: 10px;
  padding: 0 !important;
}/*# sourceMappingURL=style.css.map */