body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 10%;
}

nav span {
  padding: 15px 7px;
  margin: 0 1% 0 1%;
  text-decoration: none;
  min-width: 70px;
}

nav div {
  display: flex;
  width: 100%;
  padding-right: 10px;
  justify-content: flex-end;
}

nav div span.buttons {
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
  margin: 0 30px 0 30px !important;
  line-height: 30px;
  min-width: none;
}

nav div.icon {
  background-image: url(ToDoIt_Logo_Horizontal_Color_Black.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 52px;
  min-width: 140px;
  width: 140px;
  padding: 0 !important;
}




div.first_box {
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(5, 151, 242, 0.39));
  height: 100vh;
  width: 99vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}
div.to_center {
  display: flex;
  height: 100%;
  width: 100%;
  min-width: 900px;justify-content: center;
  align-items: center;
  text-align: center;
}

div.scale{
  transform: scale(1.3);
  margin-bottom: 40px;
  text-align: center;
}

div.to_center h2{
  color: #0597f2;
  font-weight: 600;
  font-size: 20px;
}

div.to_center .h1{
  font-weight: 700;
  font-size: 50px;
  width: 700px;
  text-wrap: wrap;
  display: block;
}

div.to_p{
  justify-content: center;
  display: flex;
}

div.to_center p{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 40px;
  display: block;
  width: 600px;
  text-align: center;
}

div.to_center span.button{
  padding: 22px 30px;
  background-color: #141414;
  color: white;
  border-radius: 5px;
}



div.our_case {
  background-color: rgb(2, 0, 19);
  color: white;
  display: flex;
  justify-content: center;
}
div.our_case div {
  width: 70%;
}
div.our_case div h2 {
  margin-top: 0;
}
div.our_case div div {
  width: 47%;
}
div.our_case div div p {
  width: 150px;
  display: inline-block;
}
div.our_case div div img {
  display: inline-block;
}

div.footer {
  background-color: rgb(2, 0, 19);
  min-height: 300px;
  width: 99vw;
  display: flex;
  color: white;
  justify-content: center;
}
div.footer div.text {
  width: 400px;
  padding: 15px 0;
  padding: 10px 20px;
}
div.footer div.second {
  display: flex;
  flex-direction: column;
}
div.footer div.second span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
div.footer div.third span.orange {
  color: #FFB800;
  font-size: 16px;
  font-weight: 900;
  line-height: 19.5px;
}
div.footer div.third img {
  margin-right: 7px;
}
div.footer div.third div {
  margin-bottom: 20px;
}
div.footer div.third span {
  display: block;
  line-height: 20px;
}
div.footer div.third h2 {
  margin-bottom: 30px;
}
div.footer div.first .p {
  height: 44%;
}
div.footer div.icon {
  background-image: url(Group\ 39.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 48px;
  width: 100px;
  margin-top: 10px;
  padding: 0 !important;
}
