#red{
	margin-top: -20px;
	height: 30px;
	width: 40px;
	background-color: whitesmoke;
	color: red;
	display: inline-block;
	text-align: center;	
	font-size: 1.5rem;
}
#black{
	margin-top: -20px;
	height: 30px;
	width: 40px;
	background-color: whitesmoke;
	color: black;
	display: inline-block;
	text-align: center;
	font-size: 1.5rem;
}
#word_in_text{
	color: rgb(160, 32, 58);
	background-color: rgb(220, 220, 220);
}
#general_div{
	margin-top: 30px;
	background-color: whitesmoke;
	width: 770px;
	padding: 10px;
	font-family: sans-serif;
}
#h2-html{
	text-align: center;
}
#h3-html{
	text-align: center;
}
#code{
	background-color: rgb(230, 230, 230);
}
#first{
	color: rgb(160, 32, 58);
}
#second{
	color: rgb(160, 32, 58);
	margin-left: 30px;
}
#third{
	color: rgb(160, 32, 58);
	margin-left: 60px
}
#underline{
	text-decoration: underline;
}
a{
	background-color: rgb(230, 230, 230); 
	color: rgb(0, 190, 190);
	text-decoration: none;
}
